#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #ffff;
  position: sticky;
  top: 0;
  height: 5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: #0f0e0e;
  font-size: 1.2rem;
}

.home-section {
  padding: 80px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
}

.button {
  background: #2b6ef5;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 20px;
}

.page {
  padding: 80px 60px;
  text-align: center;
}

.skills-grid, .project-grid {
  display: grid;
  gap: 20px;
  margin-top: 40px;
  justify-content: center;
}

.skills-grid {
  grid-template-columns: repeat(3, 150px);
}

.skills-grid span {
  background: #cecbcb;
  padding: 15px;
  border-radius: 8px;
}

.project-grid {
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
  margin: auto;
}

.card {
  background: #cecbcb;
  padding: 25px;
  border-radius: 12px;
  text-align: left;
}

.card button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #2b6ef5;
  color: white;
  border: none;
  border-radius: 6px;
}
